<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Password Manager | Login</title>
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/authentication.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-authentication" method="POST">
    <h1>Password Manager</h1>
    <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" name="username" id="inputUsername" class="form-control my-1" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control my-1" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <p class="my-2">
        You don't have an account? <a href="/authentication/register">Register</a>
      </p>
      <p class="mt-5 mb-3 text-muted">M-Boukhlouf &copy; 2020</p>
    </form>
  </body>
</html>
